{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
{{ parent() }}
{% endblock css %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span9">
            {{ block('page_content') }}
        </div>
        <div class="span3">
            {{ msi_block_render('sidebar', page) }}
        </div>
    </div>
</div>
{% endblock body %}
