{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
<div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a target="_blank" href="{{ path('msi_cmf_dashboard') }}" class="btn btn-primary btn-large">Admin »</a></p>
</div>
<div class="row">
    <div class="span8">
        <h2 style="margin-top: 0;">Lorem Ipsum <small>dada baba gaga zaza</small></h2>
        <div class="row">
            <div class="span3">
                <img class="pull-left img-rounded" src="http://placehold.it/220x165" alt="0" style="margin: 0 15px 15px 0;">
            </div>
            <div class="span5">
                <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue.</p>
                <ul>
                    <li>Sed malesuada enim ut lectus sagittis</li>
                    <li>Sed malesuada enim ut lectus facilisis</li>
                    <ul>
                        <li>Sed malesuada enim ut lectus sagittis facilisis</li>
                        <li>Sed malesuada enim ut sagittis facilisis</li>
                    </ul>
                    <li>Sed malesuada enim lectus sagittis facilisis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span4">
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <a class="btn" href="#">View all »</a>
    </div>
</div>
<hr>
{{ page.translation.body|raw }}
{% endblock content %}
